.res-container {
    display: flex;
    flex-wrap: wrap;
}
.res-card {
    width:200px;
    
    background-color: whitesmoke;
    margin:10px;
    padding:5px;
   
}

.shimmar-container {
    display: flex;
    flex-wrap: wrap;
}
.shimmar-card {
    width:200px;
    height: 350px;
    background-color: whitesmoke;
    margin:10px;
    padding:5px;
   
}

.body {
    display: flex;
    flex-wrap: wrap;
   
}
.search {
    display: flex;
    flex-wrap: wrap;
    
    padding:10px;
    height: 50px;
}
.searchcontainer{
    display: block;
    width: 100%;
    justify-content: space-between;
}
.btnSearch{
    margin: 5px;
    height: 30px;
    font-weight: bold;
}
.inputTxt{
    height: 30px;
    width: 180px;
}
.res-card:hover {
    
   
    border:1px solid silver;
}

.res-logo {
    width:100%;
    height : 150px;
    padding:0 10 0 0;
}

.filter-btn {
    height: 50px; width: 250px; background-color: yellow;
}
.filter-btn:hover{
    background-color: white;
}